Django==1.4.1
PyYAML==3.10
Pyro4==4.16
South==0.7.6
Werkzeug==0.8.3
argparse==1.2.1
django-extensions==0.9
gensim==0.8.6
ipdb==0.7
ipython==0.13
numpy==1.7.1
scikit-learn==0.12.1
scipy==0.11.0
simserver==0.1.4
sqlitedict==1.0.8
wsgiref==0.1.2
nltk==2.0.4
chardet==2.1.1
djangorestframework==2.1.6
ujson==1.23
